@import '~bootstrap/scss/bootstrap';
@font-face {
    font-family: 'zerohour';
    src: url(./assets/fonts/fontsHomePage/zero-hour/zerohour.otf);
}
@font-face {
    font-family: 'pizzabot';
    src: url(./assets/fonts/fontsHomePage/pizzabot/pizzabot.ttf);
}
@font-face {
    font-family: 'mandroid-bb';
    src: url(./assets/fonts/fontsHomePage/mandroid-bb/MandroidBB.ttf);
    src: url(./assets/fonts/fontsHomePage/mandroid-bb/MandroidBB_bold.ttf);
    src: url(./assets/fonts/fontsHomePage/mandroid-bb/MandroidBB_italBB.ttf);
}
@font-face {
    font-family: 'destructobeam-bb';
    src: url(./assets/fonts/fontsHomePage/destructobeam-bb/destructobeambb_reg.ttf);
    src: url(./assets/fonts/fontsHomePage/destructobeam-bb/destructobeambb_bold.ttf);
}