.signIn{
    height: 100vh;
    &-left{
        height: 100vh;
        img{
            height: 100vh;
            object-fit: cover;
        }
    }
    &-right{
        height: 100vh;
        .MuiFormLabel-root{
            top: unset !important;
        }
        .passwordInput{
            position: relative;
            div{
                width: 100%;
            }
            .togglePassword{
                position: absolute;
                top: 10px;
                right: 18px;
            }
            .passwordError, .passwordCorrection{
                top: 18px;
            }
        }
    }
    
}
.register{
    .MuiSelect-select {
        padding: 0rem !important;
    }
    .badge{
        position: relative;
        padding-left: 3em;
        text-wrap: wrap;
        text-align: start;
        line-height: 1.5;
        .errorIcon{
            position: absolute;
            top: 0;
            left: 10px;
        }
    }
}